<h1>Show Selected Restaurants</h1>

<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
<br>
<%= link_to "Back to Homepage", restaurants_path%>
<br>
<h2>Reviews for this restaurant</h2>

<br>
 <div class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <small>
        <% count = 0 %>
        <% 5.times do %>
          <% if review.rating > count %>
            <i class="fa-solid fa-star"></i>
          <% else %>
            <i class="fa-regular fa-star"></i>
          <% end %>
          <% count += 1 %>
        <% end %>
      </small>
      <p><%= review.content %>, <%= review.rating %></p>
    </li>
  <% end %>
  </div>
<br>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :content%>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<%= link_to "See all restaurants", restaurants_path %>

<%= link_to "Review Restaurant", new_restaurant_review_path(@restaurant)%>
